In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
from sklearn import datasets

In [2]:
life_file = "Resources/lifeexpectancy.csv"
hale_file = "Resources/halelife.csv"

In [3]:
life_data = pd.read_csv(life_file)
hale_data = pd.read_csv(hale_file)

In [9]:
life_results = pd.merge(life_data, hale_data, how="inner", on=["Location","Period","Sex"])
life_results = life_results.rename(columns = {"Life expectancy at birth (years)": "Life (years)", "Healthy life expectancy (HALE) at birth (years)":"HALE (years)"})
life_results.head()

      Location  Period         Sex  Life (years)  HALE (years)
0  Afghanistan    2019  Both sexes         63.21         53.95
1  Afghanistan    2019        Male         63.29         54.73
2  Afghanistan    2019      Female         63.16         53.15
3  Afghanistan    2015  Both sexes         61.65         52.60
4  Afghanistan    2015        Male         61.04         52.78

      Location  Period         Sex  Life (years)  HALE (years)
0  Afghanistan    2019  Both sexes         63.21         53.95
1  Afghanistan    2019        Male         63.29         54.73
2  Afghanistan    2019      Female         63.16         53.15
3  Afghanistan    2015  Both sexes         61.65         52.60
4  Afghanistan    2015        Male         61.04         52.78

In [6]:
# Grouping Years compare to Life Expectancy and HALE

period_sorting = life_results.groupby("Period").mean()
life_compare_df= pd.DataFrame(period_sorting)
life_compare_df.reset_index()

   Period  Life (years)  HALE (years)
0    2000     66.778707     58.486248
1    2010     70.027705     61.275100
2    2015     71.518579     62.502240
3    2019     72.557413     63.315829

In [7]:
# Bar chart for Period and Life Expectancy (years)
# x_axis = life_compare_df["Period"]
# y_axis = life_compare_df["Life (years)"]

# fig1, ax1 = plt.subplots()
# ax1.set_title("Period VS Life Expectancy (years)")
# ax1.set_xlabel("Period")
# ax1.set_ylabel("Life Expectancy (years)")


# plt.ylim(35,50)

# plt.show()

In [8]:
# Bar chart for Period and  (years)
# x_axis = life_compare_df["Period"]
# y_axis = life_compare_df["HALE (years)"]

# fig1, ax1 = plt.subplots()
# ax1.set_title("Period VS Life Expectancy (years)")
# ax1.set_xlabel("Period")
# ax1.set_ylabel("Life Expectancy (years)")


# plt.ylim(35,50)

# plt.show()